{% extends "rides/root.html" %}
{% block content %}      
      <h1 align="center" class = "pad30"> Your Ridol~ account has been successfully logged out!</h1>
      <div  align = "center" style="font-size:25px;margin-bottom:30px;">
        <input type="button"  class="btn btn-primary flex-auto text-center" id = "home_button" value = "Go to homepage" onclick="gohomepage()";>
      </div>
      <p align="center"><img src = "/static/rides/logout.png" alt = "photo escaped" width = "700px" height = "700px"></p>
{% endblock content %}
