{% extends "rides/root.html" %}
{% block content %}
  <div class="container" align = "center">    
  <h3 class = "card-title pad30" align = "center">Change Your Password</h3>  
    <div class="card padboth10"  align="center" style="width: 40%;">       
      <div class = "card-body">
        <form method="POST" novalidate>
          {% csrf_token %}
          {% for field in form %}
            <label class="padboth15">{{field.label}}</label>
            {{field}}
            <p style="color:red;">{{field.errors.0}}</p>
          {% endfor %}
          <div class="row padboth15" align="left">
                <div class="col" align="center">
                    <button type="submit " align="center"   class="padboth15 btn btn-success col-8">Submit</button>
                </div>
                <div class="col" align="center">
                    <input type="button" align="center"  class="padboth15 btn btn-danger flex-auto text-center mx-3 mx-md-0 col-8" id = "home_button" value = "Cancel" onclick="gohomepage()";>
                </div>
            </div>                     
        </form>
      </div> 
    </div>
  </div>
{% endblock content %}
