{% extends 'rides/drivertemplate.html'%}

{% block content%}
<!--open ride information--> 
    <div class="pad30" align = "left">            
        <div class="padboth10" width = "800" align="center" >
            <div align="left" >              
                <button class="btn btn-primary" data-bs-toggle="collapse" href="#confirmride" ><i class="bi bi-car-front-fill"></i> Search Open Orders</button>       
                <div class="pad15 card-body show" width = "800px" id="confirmride">     
                    <table class="table">
                        <thead>
                          <tr align="center">
                            <th scope="col">Ride Owner Username</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Passenger Number</th>                          
                            <th scope="col">Vehicle Type</th>                         
                            <th scope="col">Status</th>  
                            <th scope="col">Shared</th>     
                            <th scope="col">Special Request</th> 
                            <th scope="col">Comfirm</th> 
                            <th scope="col">Detail</th>                          
                          </tr>
                        </thead>
                        <tbody>
                          {% for obj in open_order %}      
                          <tr align="center">
                            <td>{{ obj.rider.username }}</td>
                            <td>{{ obj.destination }}</td>
                            <td>{{ obj.arrival_date }}</td>
                            <td>{{ obj.arrival_time }}</td>
                            <td><a href="{% url 'RenderDriverPassengersInfo' obj.id %}?next={{ request.path|urlencode }}">{{ obj.tol_passenger_num }}</a></td>
                            <td>{{ obj.vehicle_type }}</td>
                            <td>{{ obj.status }}</td>
                            <td>{{ obj.shared }}</td>
                            <td>{{ obj.special_reqs }}</td>
                            <td><a class="btn btn-outline-success" href="{% url 'DriverConfirmProcess' obj.id %}">Comfirm</a><!--change-->
                            <td><a class="btn btn-outline-info" href="{% url 'OrderDetail' obj.id  %}?next={{ request.path|urlencode }}">Detail</a>               
                    
                            </tr>             
                          {% endfor %}
                        </tbody>
                      </table>
                </div>  
            </div>  
        </div>                        
    </div>     
</div> 
{%endblock%}
