{% extends 'rides/root.html'%}
{% block content%}
<!--open ride information-->
<div align="left" class="container padboth15" >              
  <button class="btn btn-outline-primary" onclick="goorderinprocess()"  ><i class="bi bi-person-fill"></i> Go to Ride Owner Order</button>       
</div> 
    
    <div class="container padboth15" align = "left">            
    <div class="padboth10" width = "800" align="center" >
        <div align="left" >              
            <button class="btn btn-secondary" data-bs-toggle="collapse" href="#shareopen"  ><i class="bi bi-calendar-event-fill"></i> View Open State Share Order</button>       
            <div class="pad15 show" id="shareopen">       
                <table class="table">
                    <thead>
                      <tr align="center">
                        <th scope="col">Ride Owner Username</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Arrival Date</th>
                        <th scope="col">Arrival Time</th>
                        <th scope="col">Passenger Num</div></th>                          
                        <th scope="col">Vehicle Type</th> 
                        <th scope="col">Status</th>                         
                        <th scope="col">Spec Request</th>     
                        <th scope="col">Edit</th>   
                        <th scope="col">Cancel</th>
                        <th scope="col">Detail</th>            
                      </tr>
                    </thead>
                    <tbody>

                      {% for obj in share_open_order %}      
                      <tr align="center">
                        <td>{{ obj.rider.username}}</td>
                        <td>{{ obj.destination}}</td>
                        <td>{{ obj.arrival_date }}</td>
                        <td>{{ obj.arrival_time }}</td>
                        <td><a href="{% url 'RenderPassengersInfo' obj.id %}?next={{ request.path|urlencode }}">{{ obj.tol_passenger_num }}</a></td>
                        <td>{{ obj.vehicle_type }}</td>
                        <td>{{ obj.status }}</td>
                        <td>{{ obj.special_reqs }}</td>                        
                        <td><a class="btn btn-outline-dark" href="{% url 'SharerEditOrder' obj.id %}">Edit</a></td>
                        <td><a class="btn btn-outline-danger" href="{% url 'SharerCancelAOrder' obj.id %}">Cancel</a></td>
                        <td><a class="btn btn-outline-info" href="{% url 'OrderDetail' obj.id  %}?next={{ request.path|urlencode }}">Detail</a>      
                      </tr>             
                      {% endfor %}
        
                    </tbody>
                  </table>
            </div>  
        </div>  
    </div>                        
</div>     
      <div class="container padboth15" align = "left">            
        <div class="padboth10" width = "800" align="left" >
                <button class="btn btn-secondary" data-bs-toggle="collapse" href="#sharecomfirmed" ><i class="bi bi-car-front-fill"></i> View Confirmed Sharer Order</button>       
                <div class="pad15 show" id="sharecomfirmed">       
                    <table class="table" >
                        <thead>
                          <tr align="center">
                            <th scope="col">Owner</th> 
                            <th scope="col">Destination</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Passenger Num</th>                                                   
                            <th scope="col">Driver</th> 
                            <th scope="col">License Num</th>
                            <th scope="col">Vehicle Type</th>   
                            <th scope="col">Status</th>                       
                            <th scope="col">Spec Request</th>
                            <th scope="col">Detail</th>                      
                          </tr>
                        </thead>
                        <tbody>                
                          {% for obj1 in share_comfirmed_order %}                                                       
                          <tr align="center"></tr> 
                          <td>{{ obj1.rider.username}}</td>
                          <td>{{ obj1.destination}}</td>
                          <td>{{ obj1.arrival_date }}</td>
                          <td>{{ obj1.arrival_time }}</td>
                          <td><a href="{% url 'RenderPassengersInfo' obj1.id %}?next={{ request.path|urlencode }}">{{ obj1.tol_passenger_num }}</a></td>
                          <td>{{ obj1.driver.driver.username }}</td>
                          <td>{{ obj1.driver.license_number }}</td>
                          <td>{{ obj1.driver.car_type }}</td>
                          <td>{{ obj1.status }}</td>
                          <td>{{ obj1.special_reqs }}</td> 
                          <td><a class="btn btn-outline-info" href="{% url 'OrderDetail' obj1.id  %}?next={{ request.path|urlencode }}">Detail</a>                             
                      </tr>  
                      {% endfor %}    
                        </tbody>
                      </table>
                </div>  
            </div>  
        </div>

{%endblock%}

